{
  "extends": [
    "wesbos"
  ],
  "rules":{
    "object-curly-spacing": ["error", "never"],
    "array-bracket-spacing": ["error", "never"],
    "computed-property-spacing": ["error", "never"],
    "react/prop-types": 0,
    "prettier/prettier":
      [
        {
          "semi": true,
        }
      ]
  }
}
